.card-backend {
  width: 430px;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(to right, hsla(199, 99%, 65%, 0.342), #034fc236);
  border: 1px solid rgba(58, 50, 50, 0.233);
  box-shadow: 0 0 50px rgba(0, 140, 255, 0.137);
  text-align: center;
  color: #fff;
  font-family: "numans", sans-serif;
}

.icon-backend {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(135deg, #1dbaff, #0066ff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto 20px;
  color: white;
  letter-spacing: 1px;
}

.card-backend h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-backend p {
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 25px;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  padding: 6px 10px;
  border-radius: 30px;
  font-size: 8px;
  font-weight: 300;
}

.tag-blue {
  background: rgba(0, 140, 255, 0.2);
  border: 1px solid rgba(0, 140, 255, 0.4);
}

.tag-green {
  background: rgba(0, 255, 140, 0.15);
  border: 1px solid rgba(0, 255, 140, 0.4);
}

.tag-purple {
  background: rgba(180, 80, 255, 0.15);
  border: 1px solid rgba(180, 80, 255, 0.4);
}

.tag-orange {
  background: rgba(255, 140, 0, 0.15);
  border: 1px solid rgba(255, 140, 0, 0.4);
}