#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    font-family: "numans";
}

#contact p {
    font-size: 10px;
}

.contact-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.contact-card {
    width: 260px;
    background: rgba(255, 255, 255, 0.034);
    padding: 30px 25px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.103);
    transition: 0.3s ease;
}


.contact-card i {
    font-size: 30px;
    color: #00c8ff;
    margin-bottom: 15px;
}

.contact-card h3 {
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 13px;
}

.contact-card a {
    text-decoration: none;
    color: #b0b3c4;
    font-size: 10px;
}

.contact-card a:hover {
    text-decoration: none;
    color: #00c8ff;
    font-size: 10px;
}