#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: white;
    font-family: "numans";
}

.contact-buttons {
    display: flex;
    color: aliceblue;
    gap: 2rem;
    padding: 2rem;


}

.contact-buttons ul {
    display: flex;

}
