main {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: start;
    gap: 6rem;

}

#show {
    display: flex;
    width: 100%;
    gap: 4rem;
    align-items: center;
    justify-content: space-around;
    

}

.show-portfolio ul{
    width: 300px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;


}

.show-portfolio ul li {
 font-family: "Numans", sans-serif;
  font-style: normal;
}
.show-portfolio ul li p{
font-size: small;
}

/* about */

#about{
    font-family: "Numans";
    width: 100%;
    display: flex; 
    justify-content: space-between;
    gap: 4rem;
    align-items: flex-start;
}
.about-full{
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:8rem;
    

}

.profile-alexander{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile-alexander img{
    width: 15rem;
    border-radius: 15px;
}
.about-alexander{
    display:flex;
    flex-direction: column;
    gap: 1rem;

}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills h2{
    padding-bottom: 2rem;
   font-family: "Numans", sans-serif;
   font-size: 1rem;
}
.habilities{
    font-size: 11px;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.habilities li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 2rem;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    background-color: rgba(65, 65, 65, 0.103);
    
  
    
}
.habilities li:hover{
    background-color: rgba(92, 94, 95, 0.233);
}
