main {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    color: aliceblue;
    align-items: start;
    gap: 6rem;
}

#show {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px
    

}

.show-portfolio ul{
    width: 300px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;


}

.show-portfolio ul li {
 font-family: "Numans", sans-serif;
  font-style: normal;
}
.show-portfolio ul li p{
font-size: small;
}

