/* Navbar */
.navbar {
    font-family: "numans";
  position: fixed;
  top: 0;
  width: 100%;
  padding: 13px 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(21, 26, 59, 0.192);
  z-index: 1000;
}

.nav-content {
  width: 60%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Avatar */
.nav-avatar {
  width: 28px;
  height: 28px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-name {
  color: white;
  font-size: 13px;
  font-weight: 500;
}

/* Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #d7d9e5;
  font-size: 12px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #00c6ff;
}

/* Ícone */
.nav-icon {
  font-size: 18px;
  color: #d7d9e5;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-icon:hover {
  color: #00c6ff;
}
