header {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 0 50px;


}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color:#fdfdfd
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    justify-content: start;
    color:#fdfdfd
    

}

header nav ul li a {
    text-decoration: none;
    color: #fdfdfd;
    font-weight: 500;
}
header nav h3 {
    margin: 0;
    font-size: 1.5em;
    color: #fdfdfd;
}