header {
    display: block;
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.055);
    opacity: 70%;
    border-radius: 20px;
    top: 0;
    left: 0;

}

header nav {
    
    font-family: "Numans";
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 0 50px;
    
   


}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color:#fdfdfd
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    justify-content: start;
    color:#fdfdfd
    

}

header nav ul li a {
    text-decoration: none;
    color: #fdfdfd;
    font-size: 0.6rem;
}
header nav h3 {
    text-decoration: none;
    margin: 0;
    font-size: 0.7rem;
    color: #fdfdfd;
}