#projects{
  font-family: "numans";
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

#projects h2{
  color: white;

}
.barra-degrad {
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background: linear-gradient(to right, hsl(199, 99%, 65%), #034fc2);
}
#projects p{
  color: white;
  font-size: 10px;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 7px 13px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.651);
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgba(65, 65, 65, 0.103);
  border-radius: 15px;
  cursor: pointer;
}
.filter-buttons button:hover {
  color:white;
}

.filter-buttons button.active {
  border: none;
 background: linear-gradient(to right, hsl(199, 99%, 65%), #034fc2);
  color: white;
}

